/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2021, 9:35:53 AM
    Author     : Carlos
*/
.loaderGif{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:9999;
    background: url('../images/wait.gif') 50% 50% no-repeat #000;
    background-size: 50px 50px;
    opacity: 0.5;
}
.loaderBody{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:999;
    background-color: white;
    background-size: 100% 100%;

}
#loader{
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    transition: all 1s ease !important;
}

.customNav{
    border-bottom: 1px solid #e7e7e7;
}

.container-fluid{
    margin-top:15px; font-size:14px !important
}
.border{
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
    margin-top: 0px;
    background-color: #FFF;
    font-size: 11px;
}

.btnCancel{
    float:left;
}

.btnSubmit{
    float:right;
}

.actionsBtn{
    margin-top:15px;
}

.hidden{
    display:none;
}

.resultDiv{
    margin-top:15px;
}

.inputRedFocus{
    border-color: red;
}